---
Checks: 'clang-diagnostic-*,
clang-analyzer-*,
readability-*,
-readability-magic-numbers,
-readability-named-parameter,
-readability-redundant-member-init,
-readability-isolate-declaration,
modernize-*,
-modernize-avoid-c-arrays,
-modernize-use-trailing-return-type,
bugprone-*,
misc-*,
google-*,
-google-readability-avoid-underscore-in-googletest-name,
-google-readability-todo,
-google-runtime-references,
llvm-*,
-llvm-header-guard,
fuchsia-restrict-system-includes,
'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*\.hpp$'
FormatStyle: 'file'
CheckOptions:
  - { key: google-runtime-int.TypeSufix,                     value: '_t' }
  - { key: fuchsia-restrict-system-includes.Includes,        value: '*,-stdint.h,-stdbool.h,-assert.h' }
  - { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
  - { key: readability-identifier-naming.ClassCase,           value: lower_case  }
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: _         }
  - { key: readability-identifier-naming.StructCase,          value: lower_case  }
  - { key: readability-identifier-naming.FunctionCase,        value: lower_case }
  - { key: readability-identifier-naming.VariableCase,        value: lower_case }
  - { key: readability-identifier-naming.GlobalConstantCase,  value: lower_case }
  - { key: readability-braces-around-statements.ShortStatementLines, value: 2 }
