[submodule "3rdParty/config"]
	path = 3rdParty/config
	url = https://github.com/taocpp/config.git
[submodule "3rdParty/json"]
	path = 3rdParty/json
	url = https://github.com/taocpp/json.git

[submodule "3rdParty/gtest"]
	path = 3rdParty/gtest
	url = https://github.com/google/googletest.git
