# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

#pool:
  #vmImage: 'Ubuntu-16.04', 'vs2017-win2016', 'macOS-10.13'

jobs:
  - job: build
    pool:
      vmImage: 'Ubuntu-16.04'
    steps:
    - script: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
        sudo apt-get update -y
        sudo apt-get install -y g++-7
      displayName: Install GCC 7
    - script: |
        wget https://dl.bintray.com/boostorg/release/1.68.0/source/boost_1_68_0.tar.gz
        tar xzf boost_1_68_0.tar.gz
      displayName: Get boost
    - script: |
        git submodule update --init --recursive
        mkdir build
        cd build
        g++ --version
        cmake .. -DCMAKE_CXX_COMPILER=g++-7 -DBOOST_ROOT=./boost_1_68_0
      displayName: Prepare build
    - script: |
        cd build
        make -j 2
      displayName: build
    - script: |
        ./build/gtest
      displayName: test

  - job: documentation
    displayName: "build + deploy documentation"
    pool:
      vmImage: 'Ubuntu-16.04'
    steps:
    - script: |
        sudo apt-get install -y doxygen graphviz
      displayName: Apt install dependencies
    - script: |
        cd doc
        doxygen
      displayName: build doxygen
    - script: |
        cd doc/html
        git init
        echo "variable: $(test)"
        git checkout --orphan gh-pages
        git add .
        git -c user.name='Azure' -c user.email='Azure' commit -m "Deploy xenium documentation to gh-pages"
        git push -f -q https://mpoeter:$(testn)@github.com/mpoeter/xenium.git gh-pages
      displayName: publish GitHub pages